*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  background: #105469;
  font-family: 'Open Sans', sans-serif;
}

table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}

th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}

.disabled td {
  color: #4F5F64;
}

tbody tr {
  transition: background 0.25s ease;
}

tbody tr:hover {
  background: #014055;
}

table, th, td { 
    border-collapse: collapse;
    padding: .3em .5em;
    text-align: left;
    margin-bottom: 5em;
}
  
table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
  
.container {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 0 auto;
    width: 80%;
    position: relative;
}

.child {
    width: 80%;
    height: 80%;
    background-color: red;
    outline: dashed 1px black;
    margin: 0 auto;
}

h1, h4 {
    text-align: center;
}